# Day14 - Pandas를 통한 데이터 전처리 1

Pandas는 NumPy의 고성능 배열 계산 기능과 스프레드시트, SQL과 같은 관계형 데이터베이스의 데이터 조작 기능을 조합한 것이다.
- Pandas는 series와 dataframe 자료구조를 제공한다.
- Series : list와 dictionary의 장점을 섞어 놓은 듯한 자료구조
- DataFrame : 행과 열로 이루어진 2차원 형태의 자료구조
- Pandas의 기능을 이용해 데이터의 재배치와 집계, 부분집합 구하기 등을 보다 쉽게 할 수 있다.

## 리스트

### 리스트 인덱싱(indexing)
- 리스트의 요소 하나를 선택
- 인덱싱
- 왼쪽부터 0, 1, 2, … 로 증가
- 오른쪽에서 ‐1, ‐2, ‐3, …로 감소

### 문자열 인덱싱(indexing)
- 문자열도 리스트와 같은 방식으로 인덱싱 가능
- 예시 – 왼쪽부터 증가하는 인덱스 사용

### 리스트 슬라이싱(slicing)
- 리스트의 일부분을 잘라 냄
    - 결과는 리스트
    - 부분 집합과 비슷
- 사용하는 방법: *변수*[시작 인덱스:끝 인덱스:스텝]
    - 시작 인덱스: 범위의 시작, 생략 시 0
    - 끝 인덱스: 범위의 끝, 생략 시 리스트의 크기
         - 끝 인덱스는 미포함, 직전 값까지만 포함
    - 스텝: 자료를 취하는 간격, 생략 시 1

In [1]:
a = [0,1,2,3,4,5]

In [2]:
a[:4:2]

[0, 2]

In [3]:
a[-3:]

[3, 4, 5]

In [4]:
a[:-3]

[0, 1, 2]

문자열 슬라이싱(slicing)
- 문자열도 리스트와 같은 방식으로 슬라이싱 가능

In [5]:
a = '012345'

In [6]:
a[0:2]

'01'

In [7]:
a[2:]

'2345'

In [8]:
a[:3]

'012'

In [9]:
a[-3:]

'345'

In [10]:
a[:-3]

'012'

#### 실습1)
생년월일을 입력 받아 홀수 번째 글자들로만 이루어진 문자열을 출력하는 프로그램을 작성하시오

In [11]:
a = input('생년월일 입력(yyyymmdd): ')
print(a[::2])

생년월일 입력(yyyymmdd):  19700126

1702

In [16]:
print('생년월일 입력(yyyymmdd): ', end=' ')
a = input()
print(a[::2])

생년월일 입력(yyyymmdd):

 19700126

1702

#### 실습2)
문자열을 입력 받아 거꾸로 출력하는 프로그램을 작성하시오 (문자열 슬라이싱 이용하기)

In [17]:
a = input('문자열을 입력하시오.\n')
print('거꾸로 문자열:\n', a[-1::-1])

문자열을 입력하시오.
 Hello

거꾸로 문자열:
 olleH

## Dictionary

- Key와 value 쌍들의 모음
- {} 사용
- 예:
    - {'name':'gdhong', 'phone':'0222200001', 'addr':['Seoul', 'Wangsimni']}
- Key
    - 중복 X, list형 불가
- Value
    - 숫자, 문자열, list, dictionary 등 대부분의 자료형 가능

- Value의 선택
    - List와 비교하였을 때 index 번호(0부터 시작) 대신 key 값으로 value를 선택

In [18]:
a = {1:'a', 2:'b', 'three':'c'}

In [22]:
# 1 이라는 정수의 key 값으로 value를 가져온다
a[1]

'a'

In [20]:
a[2]

'b'

In [21]:
a['three']

'c'

In [23]:
a.get(1)

'a'

In [24]:
a.get(2)

'b'

In [25]:
a.get('three')

'c'

### 요소 수정, 추가, 삭제
- 수정: 기존에 있는 쌍에서 value만 수정
- 추가: 기존에 없는 key에 대한 value를 대입
- 삭제: del dictionary[키]
- 모두 삭제: clear()

In [26]:
a

{1: 'a', 2: 'b', 'three': 'c'}

In [27]:
a[1] = 'abc'

In [28]:
a

{1: 'abc', 2: 'b', 'three': 'c'}

In [29]:
a[4] = 'd'

In [30]:
a

{1: 'abc', 2: 'b', 'three': 'c', 4: 'd'}

In [31]:
del a['three']

In [32]:
a

{1: 'abc', 2: 'b', 4: 'd'}

In [33]:
a.clear()

In [34]:
a

{}

### Key만 얻기, value만 얻기
- keys(): dictionary의 key만 모아서 반환
- values(): dictionary의 value만 모아서 반환

In [35]:
a = {1:'a', 2:'b', 'three':'c'}

In [36]:
a.keys()

dict_keys([1, 2, 'three'])

In [37]:
list(a.keys())

[1, 2, 'three']

In [38]:
list(a.values())

['a', 'b', 'c']

#### 실습3
n, m을 입력 받아 'nXm'을 key로, n*1, n*2, …, n*m을 요소로 갖는 list를 value로 갖는 dictionary를 출력하시오

In [54]:
n = input('Input a number: ')
m = input('Input a number: ')

value = []
for i in range(1, int(m)+1):
    value.append(int(n) * i)

key = n+'X'+m
d = {key:value}

d

Input a number:  2
Input a number:  7

{'2X7': [2, 4, 6, 8, 10, 12, 14]}

In [55]:
n = int(input('Input a number: '))
m = int(input('Input a number: '))

nList = list(range(n, n*m+1, n))
mDic = {str(n)+'X'+str(m):nList}
print(mDic)

Input a number:  5
Input a number:  8

{'5X8': [5, 10, 15, 20, 25, 30, 35, 40]}

#### 실습4

In [6]:
print('학생 수: ', end='')
n = int(input())

myDic = {}
for i in range(n):
    print('학번: ', end='')
    hakbun = input()
    print('이름: ', end='')
    name = input()
    myDic[hakbun] = name 
    
print(myDic)

n = ''
while n != 'n':
    print('검색할 학번: ', end='')
    key = input()
    print('학번', key + '에 해당하는 학생의 이름은', myDic.get(key) + '입니다.')
    print('계속 검색하시겠습니까? (y/n)', end='')
    n = input()

학생 수:

 3

학번:

 11

이름:

 홍길동

학번:

 22

이름:

 김철수

학번:

 33

이름:

 이영미

{'11': '홍길동', '22': '김철수', '33': '이영미'}
검색할 학번:

 22

학번 22에 해당하는 학생의 이름은 김철수입니다.
계속 검색하시겠습니까? (y/n)

 n

## Array

- 배열은 리스트와 비슷하지만 다음과 같은 점에서 다르다.
    - 모든 원소가 같은 자료형이어야 한다.
    - 원소의 개수를 바꿀 수 없다.
- 파이썬은 자체적으로 배열 자료형을 제공하지 않는다.
- 배열은 NumPy 라이브러리에서 제공한다.

In [8]:
import numpy as np

a = np.array([1,2,3])
b = a * 2
b

array([2, 4, 6])

In [11]:
a = np.array([1,2,3])
b = np.array([4,5,6])

c = a + b
print(c)

[5 7 9]

In [12]:
c = a * b
print(c)

[ 4 10 18]

In [15]:
a = np.array([[1,2,3],[4,5,6]])
b = a.sum(axis=0)
b

array([5, 7, 9])

In [16]:
a = np.array([[1,2,3],[4,5,6]])
b = a.sum(axis=1)
b

array([ 6, 15])

In [17]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = a.sum(axis=0)
b

array([12, 15, 18])

In [18]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = a.sum(axis=1)
b

array([ 6, 15, 24])

In [23]:
a = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
b = a.sum(axis=0)
b

array([[ 8, 10, 12],
       [14, 16, 18]])

In [24]:
a = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
b = a.sum(axis=1)
b

array([[ 5,  7,  9],
       [17, 19, 21]])

In [27]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [28]:
a[3]

3

In [29]:
a[3:]

array([3, 4, 5, 6, 7, 8, 9])

In [30]:
a[:3]

array([0, 1, 2])

In [31]:
a[::2]

array([0, 2, 4, 6, 8])

In [32]:
a[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [33]:
a[-2:2:-1]

array([8, 7, 6, 5, 4, 3])

In [34]:
a = np.array([[3,0,5,5,1,0],[9,7,0,3,5,8],[1,1,9,7,8,0]])

In [35]:
print(a)

[[3 0 5 5 1 0]
 [9 7 0 3 5 8]
 [1 1 9 7 8 0]]

In [36]:
a[2]

array([1, 1, 9, 7, 8, 0])

In [37]:
a[2:3]

array([[1, 1, 9, 7, 8, 0]])

In [38]:
a[1:,3:]

array([[3, 5, 8],
       [7, 8, 0]])