# Day15 - Pandas를 통한 데이터 전처리 2

#### 실습1

In [10]:
import numpy as np

print('학생 수: ', end = '')
n = int(input())

score_list = []
for i in range(1, n+1):
    scores = input('%d번째 학생의 국어,영어,수학 성적(,로 구분): ' % i).split(',')
    scores = [int (i) for i in scores]
    score_list.append(scores)
    
score_array = np.array(score_list)

print('학생들의 성적: ')
print(score_array)
print('각 학생들의 총점: ')
print(score_array.sum(axis=1))
print('각 과목의 평균: ')
print(score_array.sum(axis=0)/n)

학생 수:

 3
1번째 학생의 국어,영어,수학 성적(,로 구분):  50,60,80
2번째 학생의 국어,영어,수학 성적(,로 구분):  90,85,60
3번째 학생의 국어,영어,수학 성적(,로 구분):  70,88,92

학생들의 성적:
[[50 60 80]
 [90 85 60]
 [70 88 92]]
각 학생들의 총점:
[190 235 250]
각 과목의 평균:
[70.         77.66666667 77.33333333]

## Series: 1차원 배열 + index
- index: values를 선택할 때 주소 역할을 하는 배열(값이 모두 달라야 함)
- values: 데이터 부분에 해당하는 배열

### 1차원 배열 vs. Series: list vs. dictionary와 비슷
- 1차원 배열/list: index 번호(자동)로 값 접근
- Series/Dictionary: key/index명(지정)으로 값 접근

### Series 생성: Values만 입력하는 방법
- 생성 방법: s = Series(list/array)
- Index 값은 0, 1, 2, …, 로 자동 생성

In [11]:
import pandas as pd

In [12]:
score = [84,21,87,100,59,46]

In [14]:
s = pd.Series(score)

In [15]:
print(s)

0     84
1     21
2     87
3    100
4     59
5     46
dtype: int64

In [16]:
score_array = np.array([84,21,87,100,59,46])

In [17]:
score_array

array([ 84,  21,  87, 100,  59,  46])

In [18]:
s = pd.Series(score_array)

In [19]:
print(s)

0     84
1     21
2     87
3    100
4     59
5     46
dtype: int64

### Series 생성: Index + values 입력하는 방법
- 생성 방법: s = Series(list/array, index = list/array)
- Index는 주어진 list나 array로 지정

In [20]:
import pandas as pd

names = ['철수','영희','길동','미영','순이','철이']
score = [84,21,87,100,59,46]

In [21]:
s = pd.Series(score, index=names)
print(s)

철수     84
영희     21
길동     87
미영    100
순이     59
철이     46
dtype: int64

### Series 생성: Dictionary를 이용하는 방법
- 생성 방법: s = Series(dictionary)

In [23]:
import pandas as pd

dic = {'철수':84,'영희':21,'길동':87,'미영':100,'순이':59,'철이':46}

In [24]:
s = pd.Series(dic)
print(s)

철수     84
영희     21
길동     87
미영    100
순이     59
철이     46
dtype: int64

### 덧셈
- Array간 덧셈: score1 + score2 → 순서대로 하나씩 더함
- Series간 덧셈: s0 + s1 → 순서와 상관없이 같은 index명을 갖는 값끼리 더함
    - values만 연산에 관여함
    - index가 같은 값끼리 연산 수행 → 데이터 관리에 유리
- 뺄셈, 곱셈 등도 덧셈과 같은 방식으로 처리

In [25]:
import numpy as np
import pandas as pd

In [44]:
names1 = np.array(['철수','영희','길동','미영','순이','철이'])
score1 = np.array([84,21,87,100,59,46])

In [45]:
names2 = np.array(['길동','철수','영희','철이','순이','미영'])
score2 = np.array([99,87,87,84,77,15])

In [46]:
s1 = pd.Series(score1, index=names1)
s2 = pd.Series(score2, index=names2)

In [47]:
s1 + 10

철수     94
영희     31
길동     97
미영    110
순이     69
철이     56
dtype: int64

In [48]:
s1 - s2

길동   -12
미영    85
순이   -18
영희   -66
철수    -3
철이   -38
dtype: int64

In [49]:
s1 + s2

길동    186
미영    115
순이    136
영희    108
철수    171
철이    130
dtype: int64

In [50]:
(s1 + s2) / 2

길동    93.0
미영    57.5
순이    68.0
영희    54.0
철수    85.5
철이    65.0
dtype: float64

### 산술 연산

In [51]:
s1[2]

87

In [52]:
s1[2:]

길동     87
미영    100
순이     59
철이     46
dtype: int64

In [53]:
s1[:3]

철수    84
영희    21
길동    87
dtype: int64

In [54]:
s1[::2]

철수    84
길동    87
순이    59
dtype: int64

In [55]:
s1[1:3]

영희    21
길동    87
dtype: int64

### Index번호를 사용한 부분 정보 선택

In [57]:
s1

철수     84
영희     21
길동     87
미영    100
순이     59
철이     46
dtype: int64

In [58]:
s1['영희']

21

In [59]:
s1['영희':'순이']

영희     21
길동     87
미영    100
순이     59
dtype: int64

In [60]:
s1['미영':]

미영    100
순이     59
철이     46
dtype: int64

In [61]:
s1[:'길동']

철수    84
영희    21
길동    87
dtype: int64

In [62]:
s1[:'길동':2]

철수    84
길동    87
dtype: int64

In [63]:
s1['철이':'길동':-1]

철이     46
순이     59
미영    100
길동     87
dtype: int64

### Series - 값 추가, 수정, 삭제

In [65]:
s3 = s1
s3

철수     84
영희     21
길동     87
미영    100
순이     59
철이     46
dtype: int64

#### 값 추가
- index 명을 사용하여 값 추가

In [67]:
s3['슬기'] = 98
s3

철수     84
영희     21
길동     87
미영    100
순이     59
철이     46
슬기     98
dtype: int64

#### 값 수정
- index 번호와 index 명을 사용하여 값 수정

In [69]:
s3[2] = 88
s3

철수     84
영희     21
길동     88
미영    100
순이     59
철이     46
슬기     98
dtype: int64

In [70]:
s3['길동'] = 87
s3

철수     84
영희     21
길동     87
미영    100
순이     59
철이     46
슬기     98
dtype: int64

#### 값 삭제
- index 명을 사용하여 값 삭제

In [71]:
del s3['철이']
s3

철수     84
영희     21
길동     87
미영    100
순이     59
슬기     98
dtype: int64

### Series – 논리 연산과 filtering

In [73]:
x = s1 > 85
x

철수    False
영희    False
길동     True
미영     True
순이    False
슬기     True
dtype: bool

In [74]:
s1[x]

길동     87
미영    100
슬기     98
dtype: int64

In [78]:
y = s2 > 85
y

길동     True
철수     True
영희     True
철이    False
순이    False
미영    False
dtype: bool

In [79]:
s2[y]

길동    99
철수    87
영희    87
dtype: int64

In [81]:
s1

철수     84
영희     21
길동     87
미영    100
순이     59
슬기     98
dtype: int64

In [82]:
s2

길동    99
철수    87
영희    87
철이    84
순이    77
미영    15
dtype: int64